/* .avatar {
    flex-shrink: 0;
    margin-right: 1rem;
} */

.card__link {
  text-decoration: none;
  color: black;
}

@media (max-width: 996px) {
    .image-component {
        flex-basis: 40% !important;
    }
    .body-component {
        flex-basis: 60% !important;
        padding: 0px;
    }
}
